@import "tailwindcss";

:root{
  --color-pastel:#D7CEC0;
  --color-vivid:#F45C2C;
  --color-light:#F5F1ED;
  --color-dark:#2E2E2E;
}

html,body{height:100%}
body{
  color:var(--color-dark);
  background-image:linear-gradient(to bottom,var(--color-light),#fff);
}
